/*--------------------
    For All Element
----------------------*/
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
:root{
    --primary-color: #38CC77;
    --dark-color: #252525;
}
.half-width {
    width: 30vw;
}
button{
    background-color: var(--primary-color);
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover{
    background: var(--dark-color);
}
/*------------------
        Navbar
--------------------*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    color: var(--dark-color);
    background-color: whitesmoke;
    padding: 0 10.5vw;
    position: sticky;
    top: 0;
}
.navbar *{
    cursor: pointer;
}
.fa-bars {
    font-size: 23px;
}
.fa-bars:hover{
    color: var(--primary-color);
}
.logo{
    font-size: 30px;
}

/*------------------
       Section 1
--------------------*/
.sec1{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    width: 100%;
}
.sec1 article h1{
    font-size: 60px;
    line-height: 80px;
}
.sec1 article p{
    margin:25px 0px;
    font-size: 20px;
}
button:hover .fa-angle-right{
    position: relative;
    left: 5px;
}

/*------------------
       Section 2
--------------------*/
.sec2{
    height: 15.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.brandLogo-container{
    width: 80vw;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec2 hr{
    width: 90vw;
    border: .5px solid rgb(235, 235, 235);
}

/*------------------
       Section 3
--------------------*/
.sec3{
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.product{
    background-color: #fafafa;
    box-shadow: 0px 20px 60px -60px rgb(73, 73, 73);
    border: .5px solid rgb(231, 231, 231);
    padding: 25px;
    border-radius: 15px;
}
.product img{
    border-radius: 15px;
}
.product > h3{
    font-size: 25px;
    color: #FF6666;
}
.sec3 h1{
    font-size: 50px;
}
.product h2{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.7em;
}
.rating{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.rating i{
    font-size: 15px;
    color: #F4BE2C;
}
.rating p{
    margin: 0px 10px;
}
.stock{
    color: #4dd69d;
    font-weight: 600;
}
.seemore-btn{
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}