/*--------------------
    For All Element
----------------------*/
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
:root{
    --primary-color: #38CC77;
    --dark-color: #3A3A3A;
}
.half-width {
    width: 30vw;
}
.extra-margin{
    margin: 0 10.5vw;
}
button{
    background-color: var(--primary-color);
    padding: 12px 30px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover{
    background: var(--dark-color);
}
/*------------------
        Navbar
--------------------*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    color: var(--dark-color);
    background-color: whitesmoke;
    padding: 0 10.5vw;
    position: sticky;
    top: 0;
}
.navbar *{
    cursor: pointer;
}
.fa-bars {
    font-size: 23px;
}
.fa-bars:hover{
    color: var(--primary-color);
}
.logo{
    font-size: 30px;
}

/*------------------
       Section 1
--------------------*/
.sec1{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}
.sec1 article h1{
    font-size: 60px;
    line-height: 80px;
}
.sec1 article p{
    margin:25px 0px;
    font-size: 20px;
}
.sec1 article button:hover i{
    position: relative;
    left: 5px;
}

/*------------------
       Section 2
--------------------*/
.sec2{
    height: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.brandLogo-container{
    width: 80vw;
    margin: 5vh 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec2 hr{
    width: 70vw;
    border: .5px solid rgb(189, 189, 189);
}

/*------------------
       Section 3
--------------------*/
.sec3{
    height: 100vh;
}